<div class="testApi">
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.PingRequest</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.ClientEndpoint</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.Username</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.Password</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.PingRsp</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.RspPayload</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.priceRsp</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.UrlLocator</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.DocRsp</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.ClientReq</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.AirportList</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.lowFareRsp</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.FareDisplayRsp</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.Xdoc</h1><br />
    <h2 style="color: red; display: inline;">I'm -> </h2><h1 style="color: green;">@ViewBag.ErrorText</h1>
</div>