<div class="testApi">
    <h2>Flight Schedule Listing...</h2>&nbsp;&nbsp;<a href="/Air/Search" class="btn btn-primary">Back to Search</a>

    @if (ViewBag.flightDetails == null)
    {
        <h3 style="color: red;">No Flights Available...</h3>
    }
    else
    {
        foreach (var fd in ViewBag.flightDetails)
        {
            <div>
                <h5>Flight Number: @fd.FlightNumber</h5>
                <h5>Flight Time: @fd.FlightTime</h5>
                <h5>Flight Arrival Time: @fd.ArrivalTime</h5>
                <h5>Flight Departure Time: @fd.DepartureTime</h5>
                <h5>Carrier: @fd.Carrier</h5>
                <h5>Origin: @fd.Origin</h5>
                <h5>Destination: @fd.Destination</h5>
            </div><hr />
        }
    }
</div>